apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: feature-producer
  namespace: hm-sense
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: feature-producer
  minReplicas: 2
  maxReplicas: 6
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: model-consumer
  namespace: hm-sense
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: model-consumer
  minReplicas: 2
  maxReplicas: 6
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50
